.edit-recipe,
.delete-recipe {
    margin: 0.5em;
}

h1.edit-recipe,  h1.delete-recipe,
form.edit-recipe, form.delete-recipe {
    color: rgb(78, 73, 73);
}

.validation,
button.edit-recipe, button.delete-recipe,
button.delete-recipe:hover, button.delete-recipe,
a.edit-recipe, a.delete-recipe {
    color:rgb(255, 255, 255);
}

h1 {
    margin: 0.3em 0 0.4em 0;
}

form {
    margin: 0 auto;
    width: 35em;
}

label, a, span {
    cursor: pointer;
}

label {
    width: 12em;
    font-size: 23px;
}

.validation {
    width: 18em;
    background-color: rgb(230, 107, 76);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.85);
    border-radius: 5px;
    font-size: 20px;
    margin: 0 auto 1em auto;
}

#last-validation {
    margin-top: 1em;
}

form:nth-child(5) > div:not(:nth-child(2)) {
    margin-left: 17.3em;
}

form.form-inline {
    margin-bottom: 1.3em;
}

p {
    margin: 0 0.3em;
    font-size: 17px;
    cursor: default;
}

#steps {
    font-size: 25px;
    margin: -1em 0 0.3em 1em;
}

textarea {
    width: 35em;
    margin: 0 auto;
}

span {
    margin-bottom: 2em;
}

svg {
    color:rgb(83, 18, 0);
    margin-top: 0.5em;
    font-size: 20px;
}

svg:first-child {
    margin-left: 0.3em
}

button,
button:hover,
a {
    border: 1px solid rgb(203, 238, 78);
    background-color: rgb(203, 238, 78);
    font-size: 21px;
    padding: 0.5em 0.4em;
    border-radius: 5px;
}

button {
   margin-right: 0.9em;
}

a {
    padding: 0.6em 0.4em; 
}

button:disabled {
    cursor: not-allowed;
}

a:hover {
    text-decoration: none;
}